[Unit]
Description=celery beat daemon %I
After=network.target

[Service]
Type=simple
# the specific user that our service will run as
User=toltec
Group=toltec
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html

EnvironmentFile=/home/toltec/toltec_astro/run/dasha/taco
EnvironmentFile=/home/toltec/toltec_astro/run/dasha/%i
RuntimeDirectory=celery
LogsDirectory=celery
# ExecStartPre=-/usr/bin/redis-cli flushall
ExecStart=/usr/bin/env ${PYVENV}/bin/celery \
    -A dasha.web.celery_app beat \
    --pidfile=/var/run/celery/%i_celerybeat.pid \
    --logfile=${DASHA_LOGS_DIR}/%i_celerybeat.log \
    --loglevel=${LOGLEVEL_CELERYBEAT}

[Install]
WantedBy=multi-user.target
