[Unit]
Description=celery daemon %I
After=network.target

[Service]
Type=forking
# the specific user that our service will run as
User=toltec
Group=toltec
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
Environment="VENV=/home/toltec/zma/venvs/toltec"
Environment="CELERY_LOGLEVEL=info"
EnvironmentFile=/home/toltec/zma/run/dasha/taco
EnvironmentFile=/home/toltec/zma/run/dasha/%i
RuntimeDirectory=celery
LogsDirectory=celery
WorkingDirectory=/home/toltec/zma/run
ExecStart=/usr/bin/env ${VENV}/bin/celery multi start worker \
	-A dasha.web.celery_app \
	--pidfile=/var/run/celery/%i.pid \
	--logfile=/var/log/celery/%i.log \
	--concurrency=4 -l ${CELERY_LOGLEVEL}
ExecStop=/usr/bin/env ${VENV}/bin/celery multi stopwait worker \
	-A dasha.web.celery_app \
	--pidfile=/var/run/celery/%i.pid
ExecReload=/usr/bin/env ${VENV}/bin/celery multi restart worker \
	-A dasha.web.celery_app \
	--pidfile=/var/run/celery/%i.pid \
	--logfile=/var/log/celery/%i.log \
	--concurrency=4 -l ${CELERY_LOGLEVEL} 

[Install]
WantedBy=multi-user.target
