[Unit]
Description=celery daemon %I
After=network.target

[Service]
Type=forking
# the specific user that our service will run as
User=toltec
Group=toltec
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
EnvironmentFile=/home/toltec/toltec_astro/run/dasha/taco
EnvironmentFile=/home/toltec/toltec_astro/run/dasha/%i
RuntimeDirectory=celery
LogsDirectory=celery
Environment="CELERY_APP=dasha.web.celery_app"

#    -Q:2 high_priority \
ExecStart=/usr/bin/env ${PYVENV}/bin/celery multi start \
     2 \
    --range-prefix=worker_%i \
    -Q:1 default,normal_priority,low_priority \
    -Q:2 high_priority \
    --pidfile=/var/run/celery/%i_celery.pid \
    --logfile=${DASHA_LOGS_DIR}/%i_celery.log \
    --concurrency=4 \
    --loglevel=${LOGLEVEL_CELERY}
ExecStop=/usr/bin/env ${PYVENV}/bin/celery multi stopwait \
     2 \
    --range-prefix=worker_%i \
    -Q:1 default,normal_priority,low_priority \
    -Q:2 high_priority \
    --pidfile=/var/run/celery/%i_celery.pid
ExecReload=/usr/bin/env ${PYVENV}/bin/celery multi restart \
     2 \
    --range-prefix=worker_%i \
    -Q:1 default,normal_priority,low_priority \
    -Q:2 high_priority \
    --pidfile=/var/run/celery/%i_celery.pid \
    --logfile=${DASHA_LOGS_DIR}/%i_celery.log \
    --concurrency=4 \
    --loglevel=${LOGLEVEL_CELERY}

[Install]
WantedBy=multi-user.target
