[Unit]
Description=celery flower daemon %I
After=network.target

[Service]
Type=simple
# the specific user that our service will run as
User=toltec
Group=toltec
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
EnvironmentFile=/home/toltec/toltec_astro/run/dasha/taco
EnvironmentFile=/home/toltec/toltec_astro/run/dasha/%i
RuntimeDirectory=celery
LogsDirectory=celery
ExecStart=/usr/bin/env ${PYVENV}/bin/celery \
    -A dasha.web.celery_app flower \
    --url_prefix=flower

[Install]
WantedBy=multi-user.target
