/* Default link colours */
a {color: #0275d8 !important}

a:hover {color: #014c8c !important}

.viewport-height * .dash-spreadsheet-container
{
    /* maxHeight: 90vh !important; */
    max-height: 80vh !important;
    height: 80vh;
    /* float: right !important; */
}

.dash-table-container .dash-spreadsheet-container div {
    margin: 0px;
    padding: 0px;
}

.dash-table-container * .dash-fixed-row {
    z-index: auto !important;
}


.daq-graduatedbar div
{
    height: 100% !important;
}


.daq-graduatedbar div
{
    height: 100% !important;
}


@media (min-width: 64em) {
  .daq-graduatedbar {
        margin-left: auto
  }
}


.dash-spinner.dash-default-spinner {
    margin: auto;
    height: 30px;
}

.dash-default-spinner > div {
    width: 3px !important;
}


/*Tooltip*/
/* .tooltip { */
/*   font-family: "Roboto", "Tahoma", "Helvetica", sans-serif; */
/* } */
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #757E94;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #757E94;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #757E94;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #757E94;
}
.tooltip-inner {
  background-color: #757E94;
  color: white;
  /* font-style: italic; */
}


/* form inline media */
.form-check-compact > .form-check {
    padding-left: 0 !important
}
